<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Lista de Itens</title>
</head>
<body>
<div th:fragment="add-items-by-file-modal" class="modal fade" id="add-items-by-file-modal" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="container" method="post" action="./../item/file" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Lista de Itens</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-10 pb-4">
                            <div data-mdb-input-init class="form-outline">
                                <input class="form-control text-black-75" type="file" id="file" name="file"
                                       placeholder="Extensão .xlsx" required>
                                <label for="file" class="visually-hidden">Arquivo</label>
                            </div>
                        </div>

                        <div class="col-10 pb-4">
                            <div data-mdb-input-init class="form-outline">
                                <textarea name="comment" class="form-control fs-4" id="comment"></textarea>
                                <label for="comment" class="form-label">Comentário</label>
                            </div>
                        </div>

                        <div class="col-12" hidden="hidden">
                            <input name="boxId" type="text" class="form-control fs-4" id="boxId"
                                   th:value="${box.id()}"/>
                            <label class="form-label fs-4 me-1" for="boxId">Status</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>