<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mover Item</title>
</head>
<body>

<div th:fragment="move-item-modal" class="modal fade" id="move-item-modal" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mover Item</h1>
                <button type="button" class="btn-close" id="close-move-item-modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="container" id="move-item-form">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 pb-4 d-flex justify-content-between">
                            <div class="col-7">
                                <div data-mdb-input-init class="form-outline">
                                    <input name="boxId" type="text" class="form-control fs-4" id="box-id"/>
                                    <label class="form-label" for="box-id">Caixa</label>
                                </div>

                                <div data-mdb-input-init class="form-outline">
                                    <input id="out-box" class="form-check-input" type="checkbox" value="0">
                                    <label for="out-box">Remover da caixa</label>
                                </div>
                            </div>

                            <div class="col-4">
                                <label for="move-status" class="visually-hidden">Status</label>
                                <select class="custom-select h-100" name="status" id="move-status">
                                    <option th:each="stt : ${itemStatus}"
                                            th:value="${stt}"
                                            th:name="${stt.nameStr}"
                                            th:text="${stt.nameStr}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="d-lg-flex col-lg-9 justify-content-lg-between">
                            <div data-mdb-input-init class="form-outline">
                                <textarea name="comment" class="form-control fs-4" id="move-comment"
                                          rows="1"></textarea>
                                <label for="move-comment" class="form-label">Comentário</label>
                            </div>
                        </div>
                        <div class="col-12" hidden="hidden">
                            <input name="itemId" type="text" class="form-control fs-4" id="item-id"/>
                            <label class="form-label fs-4 me-1" for="item-id">Status</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-move-item-modal2"
                                data-bs-dismiss="modal">Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary" id="move-item">Mover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const moveItemModalClose = document.getElementById('close-move-item-modal');
        const moveItemModalClose2 = document.getElementById('close-move-item-modal2');
        const moveItemModal = document.getElementById('move-item-modal');
        const moveItemForm = document.getElementById('move-item-form');
        const outBoxCheck = document.getElementById('out-box');
        const boxId = document.getElementById('box-id');

        outBoxCheck.addEventListener('change', function (){
            if (outBoxCheck.checked){
                boxId.value = "";
                boxId.disabled = true;
            } else {
                boxId.disabled = false;
            }
        })

        moveItemModalClose.addEventListener('click', function () {
            window.location.reload();
        });

        moveItemModalClose2.addEventListener('click', function () {
            window.location.reload();
        });

        moveItemModal.addEventListener('show.bs.modal', ev => {
            const item = ev.relatedTarget;
            const itemId = item.getAttribute('data-id');
            const itemStatus = item.getAttribute('data-status');
            document.getElementById('move-status').options.namedItem(itemStatus).selected = true;
            document.getElementById('item-id').value = itemId;
        });

        moveItemForm.addEventListener('submit', async function (ev){
            ev.preventDefault();
            const id = document.getElementById('item-id').value;
            const comment = document.getElementById('move-comment').value;
            const status = document.getElementById('move-status');
            const newBox = outBoxCheck.checked? outBoxCheck.value : boxId.value;
            const response = await movItem(id, comment, status.options[status.selectedIndex].value, newBox);

            if (!response.ok){
                alert("Caixa não encontrada!")
            } else {
                window.location.reload();
            }
        })

        async function movItem(id, comment, status, boxId) {
            return await fetch(`./../../item/${id}/mov`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        comment: comment,
                        status: status,
                        boxId: boxId
                    })
                }
            )
        }
    </script>
</div>
</body>
</html>