<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo Item</title>
</head>
<body>
<div th:fragment="new-item-modal" class="modal fade" id="new-item-modal" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="container" id="new-item-form">
                <div class="row justify-content-center">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Item na Caixa</h1>
                        <button type="button" class="btn-close" id="close-new-item-modal" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="alert-add-item-success" class="alert alert-success text-center" role="alert" style="display: none">
                            Item adicionado com sucesso!
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-9 pb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input name="name" type="text" id="name"
                                           class="form-control text-black-75 fs-4" required/>
                                    <label class="form-label" for="name">Nome</label>
                                </div>
                            </div>

                            <div class="col-lg-9 pb-4 d-flex justify-content-between">
                                <div class="col-5">
                                    <div data-mdb-input-init class="form-outline">
                                        <input name="id" type="text" id="id-modal"
                                               class="form-control text-black-75 fs-4"
                                               pattern="^\d+$" maxlength="7" required/>
                                        <label class="form-label" for="id-modal">ID</label>
                                    </div>
                                </div>

                                <div class="col-5 d-flex align-items-center">
                                    <label for="selectStatus" class="visually-hidden">Status</label>
                                    <select class="custom-select h-100" name="status" id="selectStatus">
                                        <option disabled selected>Status</option>

                                        <option th:each="stt : ${itemStatus}"
                                                th:value="${stt}"
                                                th:text="${stt.nameStr}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-lg-flex col-lg-9 justify-content-lg-between">
                                <div data-mdb-input-init class="form-outline">
                                    <textarea name="comment" class="form-control fs-4" id="comment" rows="1"></textarea>
                                    <label for="comment" class="form-label">Comentário</label>
                                </div>
                            </div>
                            <div class="col-12" hidden="hidden">
                                <input name="boxId" type="text" class="form-control fs-4" id="boxId"
                                       th:value="${box.id()}"/>
                                <label class="form-label fs-4 me-1" for="boxId">Status</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="close-new-item-modal2"
                                    data-bs-dismiss="modal">Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary" id="post-new-item">Adicionar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        const newItemModalClose = document.getElementById('close-new-item-modal');
        const newItemModalClose2 = document.getElementById('close-new-item-modal2');
        const postNewItemForm = document.getElementById('new-item-form');
        const alertAddItemSuccess = document.getElementById('alert-add-item-success');

        newItemModalClose.addEventListener('click', function () {
            window.location.reload();
        });

        newItemModalClose2.addEventListener('click', function () {
            window.location.reload();
        });

        postNewItemForm.addEventListener('submit', async function (ev) {
            ev.preventDefault();
            const id = document.getElementById('id-modal');
            const name = document.getElementById('name').value;
            const comment = document.getElementById('comment').value;
            const status = document.getElementById('selectStatus');
            const boxId = document.getElementById('boxId').value;
            const response = await postItem(id.value, name, comment, status.options[status.selectedIndex].value, boxId);

            if (!response.ok) {
                alert("Item já cadastrado em outra caixa!")
            } else {
                id.value = "";
                alertAddItemSuccess.style.display = 'block';
                await new Promise(r => setTimeout(r, 2000));
                alertAddItemSuccess.style.display = 'none';
            }
        })

        async function postItem(id, name, comment, status, boxId) {
            return await fetch("./../../item", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        id: id,
                        name: name,
                        comment: comment,
                        status: status,
                        boxId: boxId
                    })
                }
            )
        }
    </script>
</div>
</body>
</html>