<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>

<head>
    <meta charset="UTF-8">
    <title>Caixas</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="row align-items-center justify-content-center vh-50">
        <div class="list-group align-middle mb-0 bg-white" th:hidden="${boxes == null || boxes.isEmpty()}">
            <table class="table table-hover table-sm text-center align-middle">
                <thead class="sticky-top">
                <tr class="table-secondary" id="table-input">
                    <th scope="col" class="col-1">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-box-id" placeholder="NÚMERO">
                            <label class="form-label" for="search-box-id">Número</label>
                        </div>
                    </th>
                    <th scope="col" class="col-3">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-box-name" placeholder="NOME">
                            <label class="form-label" for="search-box-name">Nome</label>
                        </div>
                    </th>
                    <th scope="col" class="col-2">
                        <div class="form-outline" data-mdb-input-init>
                            <label class="visually-hidden" for="select-status"></label>
                            <select class="form-select" id="select-status" data-mdb-select-init>
                                <option selected>Status</option>

                                <option th:each="stt : ${boxStatus}"
                                        th:value="${stt}"
                                        th:text="${stt.nameStr}">
                                </option>
                            </select>
                        </div>
                    </th>
                    <th scope="col" class="col-2">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-updated"
                                   placeholder="dd/mm/aaaa" maxlength="10">
                            <label class="form-label" for="search-updated">Atualizado</label>
                        </div>
                    </th>
                    <th scope="col" class="col-2">
                        <div class="form-outline" data-mdb-input-init>
                            <label class="visually-hidden" for="select-warehouse"></label>
                            <select class="form-select" id="select-warehouse" data-mdb-select-init>
                                <option selected>Estoque</option>

                                <option th:each="opt : ${warehouse}"
                                        th:value="${opt}"
                                        th:text="${opt.nameStr}">
                                </option>
                            </select>
                        </div>
                    </th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody class="table-hover" th:each="box : ${boxes}">
                <tr class="table-item-row">
                    <td class="box-id fw-medium" th:text="${box.id()}"></td>
                    <td class="name text-start fw-medium" th:text="${box.name()}"></td>
                    <td class="status" th:text="${box.status()}"></td>
                    <td class="updated" th:text="${box.updated()}"></td>
                    <td class="warehouse" th:text="${box.warehouse()}"></td>
                    <td>
                        <button type="button" class="btn btn-outline-primary w-75 my-1 p-0">
                            <a class="d-block py-2" th:href="@{'box/' + ${box.id()}}">Ver</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="flex-column" th:hidden="${!boxes.isEmpty()}">
                <h3 class="row fs-5 py-4 justify-content-center">Não existem caixas cadastradas!</h3>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-success btn-lg col-8 col-md-6 col-sm-3"
                        data-bs-toggle="modal" data-bs-target="#new-box-modal">
                    Adicionar Caixa
                </button>
            </div>
        </div>
    </div>

    <!--New Box Modal-->
    <div th:replace="~{views/fragments/new-box-modal}"></div>

    <!-- Box Filter Script -->
    <script th:replace="~{views/fragments/box-list-filter}"></script>
</div>
</body>
</html>