<!DOCTYPE html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}"
>

<head>
    <meta charset="UTF-8">
    <title>Estoque</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <div class="row align-items-center justify-content-center">
            <button type="button" class="btn btn-success btn-lg col-8 col-md-6 col-sm-3">
                <a href="/estoque-app/check/download" class="text-white">Download File</a>
            </button>
        </div>
    </div>
</body>
</html>