<!DOCTYPE html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Conferência de Estoque</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <form class="container" method="post" action="" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-lg-9 pb-4">
                    <div class="mb-3">
                        <label for="principal" class="form-label">Arquivo principal</label>
                        <input class="form-control" type="file" id="principal" name="principal">
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Arquivos em estoque</label>
                        <input class="form-control" type="file" id="stock" name="stock" multiple>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success col-6 col-sm-3 col-md-4">
                    Executar
                </button>
            </div>
        </form>
    </div>
</body>
</html>