<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>

<head>
    <meta charset="UTF-8">
    <title>Todos os Itens</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="row align-items-center justify-content-center">
        <div class="align-middle mb-0 bg-white" th:hidden="${items == null || items.isEmpty()}">
            <table class="table table-hover table-sm text-center">
                <thead class="sticky-top">
                <tr class="table-secondary" id="table-input">
                    <th scope="col">
                        <div class="form-check">
                            <label class="visually-hidden" for="select-all">Select</label>
                            <input class="form-check-input" type="checkbox" id="select-all"/>
                        </div>
                    </th>
                    <th scope="col" class="col-1">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-item-id" placeholder="ID">
                            <label class="form-label" for="search-item-id">ID</label>
                        </div>
                    </th>
                    <th scope="col" class="col-auto">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-item" placeholder="Item">
                            <label class="form-label" for="search-item">Item</label>
                        </div>
                    </th>
                    <th scope="col" class="col-2 align-items-center">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-updated" placeholder="dd/mm/aaaa" maxlength="10">
                            <label class="form-label" for="search-updated">Atualizado</label>
                        </div>
                    </th>
                    <th scope="col" class="col-2">
                        <div class="form-outline" data-mdb-input-init>
                            <label class="visually-hidden" for="select-status"></label>
                            <select class="form-select" id="select-status" data-mdb-select-init>
                                <option selected>Status</option>

                                <option th:each="stt : ${status}"
                                        th:value="${stt}"
                                        th:text="${stt.nameStr}">
                                </option>
                            </select>
                        </div>
                    </th>
                    <th scope="col" class="col-1">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" class="form-control bg-white" id="search-box-id" placeholder="Caixa">
                            <label class="form-label" for="search-box-id">Caixa</label>
                        </div>
                    </th>
                    <th scope="col">
                    </th>
                </tr>
                </thead>
                <tbody th:each="item : ${items}" class="table-hover">
                <tr class="table-item-row">
                    <td>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input item-checkbox" type="checkbox" th:value="${item.id()}" th:id="${item.id()}"/>
                            </label>
                        </div>
                    </td>
                    <td class="item-id text-start" th:text="${item.id()}"></td>
                    <td class="item text-start" th:text="${item.name()}"></td>
                    <td class="updated" th:text="${item.updated()}"></td>
                    <td class="status" th:text="${item.status()}"></td>
                    <td class="box-id" th:text="${item.boxId()}"></td>
                    <td>
                        <button type="button"><a th:href="@{'item/' + ${item.id()}}">Mover</a></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container" th:hidden="${!items.isEmpty()}">
            <h3 class="row fs-5 py-4 justify-content-center">Não existem itens cadastrados!</h3>
        </div>
    </div>

    <script>
        const tableInput = document.getElementById('table-input');
        const itemRow = document.getElementsByClassName('table-item-row');

        tableInput.addEventListener('input', filter);

        function filter() {
            const itemIdSearch = document.getElementById('search-item-id').value;
            const itemSearch = document.getElementById('search-item').value;
            const updatedSearch = document.getElementById('search-updated').value;
            const selectStatus = document.getElementById('select-status').selectedOptions.item(0).textContent;
            const boxIdSearch = document.getElementById('search-box-id').value;

            for (let i = 0; i < itemRow.length; i++) {
                const row = itemRow.item(i);
                const itemId = row.querySelector('.item-id').textContent;
                const itemName = row.querySelector('.item').textContent.toLowerCase();
                const updated = row.querySelector('.updated').textContent.substring(0,10);
                const status = row.querySelector('.status').textContent;
                const boxId = row.querySelector('.box-id').textContent;

                if (
                    itemId.includes(itemIdSearch) &&
                    itemName.includes(itemSearch.toLowerCase()) &&
                    updated.includes(updatedSearch) &&
                    (selectStatus === 'Status' || selectStatus === status) &&
                    boxId.includes(boxIdSearch)
                ) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
    </script>

    <script>
        // Seleciona o checkbox no header
        const selectAllCheckbox = document.getElementById('select-all');

        // Seleciona todos os checkboxes das linhas da tabela
        const itemCheckboxes = document.querySelectorAll('.item-checkbox');

        // Adiciona o evento de clique ao checkbox do header
        selectAllCheckbox.addEventListener('click', function() {
            itemCheckboxes.forEach(function(checkbox) {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });
    </script>

    <script>
        const updatedSearchInput = document.getElementById('search-updated');

        updatedSearchInput.addEventListener('input', () => {
            updatedSearchInput.value = dateMask(updatedSearchInput.value);
        });

        function dateMask (value) {
            value = value.replace(/\D/g,'');
            value = value.replace(/(\d{2})(\d)/,"$1/$2");
            value = value.replace(/(\d{2})(\d)/,"$1/$2");
            return value;
        }

    </script>
</div>
</body>
</html>